<div class="container py-5">
  <div class="row g-3">
      @if (pokemon().length > 0) {
    @for (pokemon of pokemon(); track pokemon.id) {
      <div class="col-6 col-md-4 col-xl-2">
        <a
          class="pokemon-card card p-3 text-center text-decoration-none"
          [style.border]="'2px solid transparent'"
          [style.background]="pokemon.background"
          [routerLink]="['/pokemon', pokemon.name]"
        >
          <span class="fs-6 fw-medium card-title">{{ pokemon.displayName }}</span>


      <div class="d-flex justify-content-center gap-2">
        @for (type of pokemon.types; track type.name) {
          <span class="badge rounded-pill text-light" [style.background-color]="type.color">{{
            type.displayName
          }}</span>
        }
      </div>

      @if (pokemon.imageUrl) {
        <img [src]="pokemon.imageUrl" [alt]="pokemon.imageAlt" />
      } @else {
        <p>Imagem não disponível</p>
      }
    </a>
  </div>
      }
    }

  </div>

  <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
    <button
      class="btn btn-outline-primary"
      type="button"
      [disabled]="pagina() === 1"
      (click)="paginaAnterior()"
    >
      Anterior
    </button>

    <span>Página {{ pagina() }}</span>

    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="proximaPagina()"
    >
      Próxima
    </button>
  </div>
</div>